.second h1{
    margin-left: 20px;
}

}
.First{
    display: flex;
    align-items: center;
    justify-content: center;
}
.first h1{
    border-left: 20px;
}
}
}
.half-width{
    width: 50%;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
}
.half-width img{
    width: 50%;
    display: flex;
    align-items: center;
}
h1

.header{
    font: 100px;
}
.first{
    display: flex;
    align-items: center;
}
.second{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: palegreen;
    
}
.third{
    display: flex;
    align-items: center;
    justify-content: center;
}
.first {
    margin-left: 20pxn solid;
    margin-bottom: 50px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.First h1{
    margin-top: 50px;
    margin-left: 50px;
}
.First p{
    margin-left: 50px;

}
.mission{
    border-left: 50px;
}
.fourth{
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 50px;
    border-width: 20px;
}

}
